{% extends '@short/layout.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="padding: 40px 15px; text-align: center;">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested link not found!
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}